apiVersion: v1
kind: ConfigMap
metadata:
  name: wp-config
data:
  wp-config.php: |
    <?php
    define('DB_NAME', getenv('WORDPRESS_DB_NAME'));
    define('DB_USER', getenv('WORDPRESS_DB_USER'));
    define('DB_PASSWORD', getenv('WORDPRESS_DB_PASSWORD'));
    define('DB_HOST', getenv('WORDPRESS_DB_HOST'));

    if ( ! defined('ABSPATH') ) {
        define('ABSPATH', '/var/www/html/');
    }
    require_once ABSPATH . 'wp-settings.php';
