apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
      - name: wordpress
        image: devidevops447/wordpress-beta:latest
        ports:
        - containerPort: 80
        envFrom:
        - secretRef:
            name: wordpress-secret
        volumeMounts:
        - name: wordpress-pvc
          mountPath: /var/www/html/wp-content
        - name: wp-config
          mountPath: /var/www/html/wp-config.php
          subPath: wp-config.php

      volumes:
      - name: wordpress-pvc
        persistentVolumeClaim:
          claimName: wordpress-pvc
      - name: wp-config
        configMap:
          name: wp-config
