apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wordpress-ingress
  namespace: workshop
  annotations:
    alb.ingress.kubernetes.io/group.name: demo-lb
spec:
  ingressClassName: alb
  rules:
  - host: wordpress.showmysite.click
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: wordpress-service
            port:
              number: 80
