apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      initContainers:
      - name: init-permissions
        image: busybox
        command:
          - sh
          - -c
          - |
            mkdir -p /var/www/html/wp-content/uploads &&
            chown -R 33:33 /var/www/html/wp-content &&
            chmod -R 775 /var/www/html/wp-content
        volumeMounts:
        - name: wordpress-pvc
          mountPath: /var/www/html/wp-content/uploads

      containers:
      - name: wordpress
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 80

        volumeMounts:
        - name: wordpress-pvc
          mountPath: /var/www/html/wp-content/uploads
        - name: wp-config-volume
          mountPath: /var/www/html/wp-config.php
          subPath: wp-config.php

        envFrom:
        - secretRef:
            name: wordpress-secret

      volumes:
      - name: wordpress-pvc
        persistentVolumeClaim:
          claimName: wordpress-pvc

      - name: wp-config-volume
        configMap:
          name: wp-config
